
<div class="row">
    <h2 style="color: yellow;">Movie Title</h2>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8d2_pXEiWAo?si=G7ctdb_NDJg1cRRW" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
         allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <div class="row">
            <p class="lead"> This is movie title details</p>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> abcd</div>
                    <ul class="list-group">
                        <li class="list-group-item"> director 1</li>
                        <li class="list-group-item"> director 2</li>
                        <li class="list-group-item"> director 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> abcd</div>
                    <ul class="list-group">
                        <li class="list-group-item"> director 1</li>
                        <li class="list-group-item"> director 2</li>
                        <li class="list-group-item"> director 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> abcd</div>
                    <ul class="list-group">
                        <li class="list-group-item"> director 1</li>
                        <li class="list-group-item"> director 2</li>
                        <li class="list-group-item"> director 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div class="row">
    <h1 style="color: yellow;">Actors</h1>
    <div class="col-md-12 text-center">
        <app-details-actors></app-details-actors>
    </div>
</div>