<figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../assets/images/actrs1.jpg" class="figure-img img-fluid rounded" 
    alt="..." style="max-width : 200px; margin-left: 10px;"
     >
    
    <figcaption class="figure-caption">Actor Name</figcaption>
    <figcaption class="figure-caption">Role</figcaption>
  </figure>